.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 9.6rem;

    border-radius: 255px;
    background: var(--color-blue);
    color: var(--color-white);

    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 700;

    transition: 0.4s;

    &.small {
        padding-inline-start: 1.5rem;
        padding-inline-end: 1.5rem;
    }

    &.larger {
        padding-inline-start: 1.5rem;
        padding-inline-end: 1.5rem;
        height: 2.0625rem;
    }

    &.full {
        width: 100%;
    }

    &:hover {
        filter: brightness(1.2);
    }
}
